# Core functionality - changes here should be rare!
/src/app.py                   @agascas2409
/src/backend/database.py      @agascas2409
/src/backend/routers/auth.py  @agascas2409

# The frontend will need refactored soon to be more object oriented.
/src/static/   @agascas2409
